<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PolyPlug (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PolyPlug (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PolyPlug (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PolyPlug (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5818ABA9F48B3279DB2D116A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F19D27C2F080CAB598AB50D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B723A1A06BEECD584EE305C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F651F063ED64AA4239D62030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
